@model IEnumerable<Product1>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    ViewData["Title"] = "Products";
    Layout = "_Dash";

}



<html>
<head>

    <title>@ViewBag.Title</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
</head>
<body>
    <br>
    <br>
    <a class="btn btn-primary" asp-action="CreateP">Create new one </a>

    <br>
    <br>
    <table class="table table-striped mt-5" id="Datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
              
                <th scope="col">Sale</th>
                <th scope="col">ISpublished</th>
                <th scope="col">Category</th>
                <th scope="col"> </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                  
                    <td>@item.Sale</td>
                    @if (item.Ispublished == 1)
                    {
                        <td> Not published</td>
                    }else
                    {
                        <td>Published</td>
                    }
                    <td>@item.Cat.Name</td>
                    <td><a class="btn btn-primary" asp-action="DeleteP" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-primary" asp-action="EditP" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="UnPublishe" asp-route-id="@item.Id">Unpublishe</a>
                        
                    </td>
                </tr>


            }


        </tbody>

    </table>
   

   



    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>



    <script>
        $(document).ready(function () {
            $('#Datatable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'



                ]
            });
        });
    </script>
</body>
</html>

